<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <!-- <h1>Header</h1> -->
        </header>
        <nav class="sidebar">
            <h2>Role Manager</h2>
            <ul>
                <li><a id="sidebar_dashboard" class="current_page" href="#dashboard">Dashboard</a></li>
                <li class="part">
                    <a href="#employees">Employees</a>
                    <ul class="submenu">
                        <li><a href="#all-employees">All Employees</a></li>
                        <li><a href="#create-employee">Create Employee</a></li>
                    </ul>
                </li>
                <li class="part">
                    <a href="#request">Request</a>
                    <ul class="submenu">
                        <li><a href="#leave">Leave</a></li>
                        <li><a href="#update-time">Update Time</a></li>
                        <li><a href="#work-from-home">Work from Home</a></li>
                    </ul>
                </li>
                <li class="part">
                    <a href="#events">Events</a>
                    <ul class="submenu">
                        <li><a href="#all-activities">All Activities</a></li>
                        <li><a href="#create-activity">Create Activity</a></li>
                    </ul>
                </li>
                <li class="part">
                    <a href="#presents">Presents</a>
                    <ul class="submenu">
                        <li><a href="#all-vouchers">All Vouchers</a></li>
                        <li><a href="#create-voucher">Create Voucher</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main class="content">
            
        </main>
        <footer>
            <h1>Footer</h1>
        </footer>
    </div>
</body>
</html>
